<p>Hello, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're letting you know that your email is being changed to <strong><%= @resource.unconfirmed_email %></strong>.</p>
<% else %>
  <p>Your email has been successfully changed to <strong><%= @resource.email %></strong>.</p>
<% end %>
