<p>Hello, <%= @resource.email %>!</p>

<p>We received a request to reset your password. You can do that by clicking the link below:</p>

<p><%= link_to 'Reset my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn’t request this change, just ignore this email. Your password will stay the same.</p>
