<h1 class="text-3xl font-bold mb-4">Timeline</h1>

<% @learning_posts.each do |post| %>
  <div class="bg-white p-4 mb-4 rounded shadow">
    <h2 class="text-xl font-semibold"><%= link_to post.title, post %></h2>
    <p class="text-sm text-gray-500">por <%= post.user.email %> - <%= time_ago_in_words(post.created_at) %> atrás</p>
    <div class="mt-2">
      <% post.tag_list.each do |tag| %>
        <span class="inline-block bg-blue-100 text-blue-800 text-xs px-2 py-1 rounded mr-2">#<%= tag %></span>
      <% end %>
    </div>
  </div>
<% end %>
